.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.signup-form,
.login-form {
    border: 1px solid #888;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signup-form {
    height: 40em;
}


.login-form {
    height: 30em;
}

.signup-form span {
    font-size: 2.5em;
}

.login-form span {
    font-size: 2.5em;
}

.username,
.password {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.form-actions {
    width: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.form-actions button {
    padding: 1em 1.5em;
    border-radius: 0.5em;
    outline: none;
    border: none;
    font-weight: 600;
}

.submit {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
    color: #fff;
    cursor: pointer;
}

.cancel {
    background: #d66113;
    background: -webkit-linear-gradient(to bottom, #e9c0d9, #d66113);
    background: linear-gradient(to bottom, #e9c0d9, #d66113);
}

input {
    height: 2em;
    outline: none;
    padding-left: 0.5em;
    width: 20vw;
}